extends layout
block content 
  .tab
    button#defaultOpen.tablinks(onclick="openCity(event, 'Education')") Education
    button.tablinks(onclick="openCity(event, 'Professional')") Professional
    button.tablinks(onclick="openCity(event, 'Speaking')") Speaking

  #Education.tabcontent
    center
      h3 John Smith
      img(src='/images/john.png', alt='John')
      p London is the capital city of England.
  #Professional.tabcontent
    center
      h3 James Joyce
      img(src='/images/james.png', alt='John')
      p Paris is the capital of France.
  #Speaking.tabcontent
    center
      h3 Sarah Miller
      img(src='/images/sarah.png', alt='Sarah')
      p Paris is the capital of France.
    script.
      function openCity(evt, cityName) {
      var i, tabcontent, tablinks;
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
      }
      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
      }
      document.getElementById(cityName).style.display = "block";
      evt.currentTarget.className += " active";
      }
      document.getElementById("defaultOpen").click();


