extends layout

block content
  #body
    #featured
      img(src='/images/banner-image.png', alt='banner')
      div
        h2 The Latest First World War Epic
        span Five star reviews across the board.
        span Does 1917 live up to the hype?
        br
        a.more(href='articles/1917.html') read more
          
    ul
      li
        a(href='articles/PulpFiction.html')
          img(src='images/index1.png', alt='')
          span classic review: pulp fiction
      li
        a(href='articles/HellBoy.html')
          img(src='images/index2.png', alt='')
          span hell boy
      li
        a(href='articles/KnivesOut.html')
          img(src='images/index3.png', alt='')
          span knives out
      .a
        a.button(href='/page2') Next page
