extends layout

block content
  #body
    #featured
      img(src='/images/banner-image.png', alt='banner')
      div
        h2 The Latest First World War Epic
        span Five star reviews across the board.
        span Does 1917 live up to the hype?
        br
        a.more(href='articles/2.html') read more
          
    ul
      li
        a(href='articles/1.html')
          img(src='images/index1.png', alt='article1')
          span classic review: pulp fiction
      li
        a(href='articles/3.html')
          img(src='images/index2.png', alt='article2')
          span hell boy
      li
        a(href='articles/4.html')
          img(src='images/index3.png', alt='article3')
          span knives out
      .a
        a.button(href='/page2') Next page
