doctype html
html(lang='en')
  head
    title= title + " - FilmJunkie.com"
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='shortcut icon', href='/stylesheets/favicon.ico')

  body
    header
      a(href='/')
        img(src='/images/header-plain.svg', alt='FilmJunkie.com')
      
    .sidenav
      nav
        ul(style="list-style: none;")
          li 
            a(href="/") Home
          li 
            a(href="/about") About
          li 
            a(href="/contact") Contact
          li 
            a(href="/films") Reviews
          li 
            a(href="/report.html") Report

    section#wrapper
        block content
