doctype html
html(lang='en')
  head
    title= title + " - FilmJunkie.com"
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='shortcut icon', href='/stylesheets/favicon.ico')

  body
    header
      a(href='/')
        img(src='/images/header-plain.svg', alt='FilmJunkie.com')
      
    .sidenav
      nav
        ul(style="list-style: none;")
          li 
            a(href="/") Home
          li 
            a(href="/about") About
          li 
            a(href="/contact") Contact
          li 
            a(href="/films") Reviews
          li 
            a(href="/report.html") Report
          li
            ""
          li
            button#button(onclick='userLike()') Like FilmJunkie?
          li
            #likeSite
          .logo
            a(href='/')
              img(src='/images/logo.svg', alt='Logo')

        script.
          function userLike() {
          var string = "You like FilmJunkie!";
          document.getElementById('likeSite').innerHTML = string;
          localStorage.likedItem = string;
          }

          function getLike() {
            document.getElementById('likeSite').innerHTML = localStorage.getItem("likedItem");
          }
          window.onload = getLike;

    section#wrapper
        block content
