extends layout

block content
  link(rel='stylesheet', href='/stylesheets/page2.css')

  #body          
    ul
      li
        a(href='articles/PulpFiction.html')
          img(src='images/index1.png', alt='')
          span classic review: pulp fiction
      li
        a(href='articles/HellBoy.html')
          img(src='images/index2.png', alt='')
          span hell boy
      li
        a(href='articles/KnivesOut.html')
          img(src='images/index3.png', alt='')
          span knives out
      .a2
        a.button(href='/') Previous  
      .a
        a.button(href='/wip.html') Next
