extends layout

block content
  link(rel='stylesheet', href='/stylesheets/page2.css')

  #body          
    ul
      li
        a(href='articles/5.html')
          img(src='images/index4.png', alt='index4')
          span joker
      li
        a(href='articles/6.html')
          img(src='images/index5.png', alt='index5')
          span ready or not
      li
        a(href='articles/7.html')
          img(src='images/index6.png', alt='index6')
          span booksmart
      .a2
        a.button(href='/') ❮ Previous  
      .a
        a.button(href='/wip.html') Next ❯
