extends layout

block content
  link(rel='stylesheet', href='/stylesheets/film-page.css')
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
  style.
    .checked {
    color: orange;
    }

  meta(name='viewport', content='width=device-width, initial-scale=1')
  script(src='jquery-3.2.1.min.js')

  .slideshow-container
    .mySlides.fade
      .numbertext 1 / 3
      img(src='/images/test.png', style='width:100%')
      .text Caption Text
    .mySlides.fade
      .numbertext 2 / 3
      img(src='/images/test2.png', style='width:100%')
      .text Caption Two
    .mySlides.fade
      .numbertext 3 / 3
      img(src='/images/test.png', style='width:100%')
      .text Caption Three

    a.prev(onclick='plusSlides(-1)') ❮
    a.next(onclick='plusSlides(1)') ❯
  
  div(style='text-align:center')
    span.dot(onclick='currentSlide(1)')
    span.dot(onclick='currentSlide(2)')
    span.dot(onclick='currentSlide(3)')

  center
    h1 "An Amazing Spectacle" 
      body
    span.fa.fa-star.checked
    span.fa.fa-star.checked
    span.fa.fa-star.checked
    span.fa.fa-star
    span.fa.fa-star
    h3 Review by James Joyce
    
  p Lorem ipsum
  include testcontent
  button(onclick='addToFavourites()', type='button') Add to Favourites
  #result

  script. 
    function addToFavourites() {
      if(typeof(Storage) !== "undefined") {
        if (localStorage.clickcount > 1) {
          document.getElementById("result").innerHTML = "Already added to favourites!";
        } else {
          localStorage.clickcount = 1;
          document.getElementById("result").innerHTML = "Film added to favourites!";
        }
      } else {
        document.getElementById("result").innerHTML = "Sorry, your browser does not support web storage...";
      }
    }

  script.
    var slideIndex = 1;
    showSlides(slideIndex);
    function plusSlides(n) {
    showSlides(slideIndex += n);
    }
    function currentSlide(n) {
    showSlides(slideIndex = n);
    }
    function showSlides(n) {
    var i;
    var slides = document.getElementsByClassName("mySlides");
    var dots = document.getElementsByClassName("dot");
    if (n > slides.length) {slideIndex = 1}
    if (n < 1) {slideIndex = slides.length}
    for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";
    }
    for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active", "");
    }
    slides[slideIndex-1].style.display = "block";
    dots[slideIndex-1].className += " active";
    }





